{
  "env": {
    "node": true
  },
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "no-process-exit": 0,
    "unicorn/no-process-exit": 0,
    "no-console": 0,
    "unicorn/no-console":0
  }
}
